extends ../layout

block vars
  - var title = 'Dashboard'

block body
  h1 Activity Progress

  nav.post-links
    ul
        li
            a(href='/notes/new?activityId='+activityDetail._id) ADD NEW NOTE
  p.
    Here are the details on your activity.

  h2 User Information
  p First Name: #{user.firstName}
  p Last Name:  #{user.lastName}

  h2="Activity Name: " + activityDetail.activityName
  p="Activity Brief: " + activityDetail.activityStrapline
  each criterion, i in activityDetail.criteria
    p= "Criterion: " + criterion.title
    p= "How to meet it: " + criterion.body

  p="ONCE THIS WORKS, I'LL ADD THE NOTES!!"

  each note, index in notes
    p= "Note authorId is: " + note.authorId
    p= "Note title is: " + note.title
    p= "Note body is: " + note.body
    nav.post-links
        ul
            li
                a(href='/notes/new?activityId='+activityDetail._id) New Note
            li
                a(href='/notes/addcomment?noteId='+note._id) Add Comment
            li
                a(href='/notes/#{note._id}/edit') Edit Note
        br
    each comment, c in note.comments
      p="A comment is: " + comment.body
    p= "Comments are: " + note.comments