extends layout

block content
    h1= subtitle
    ul
        each activity, index in activities
            h2= activity.activityName
            p= activity.activityStrapline
            each criterion, i in activity.criteria
                p= "Criterion: " + criterion.title
                p= "How to meet it: " + criterion.body
            a(href='activities/'+activity._id) Activity Detail
            br
            form(action="/select", method='post')
                input(type="hidden", name="_csrf", value=csrfToken)
                input(type="hidden", name="activity", value=activity._id)
                br
                input(type='submit', value='Select Activity')