extends layout

block content
	-badgeName= badgeName
	-slug= slug
	h1= "Apply for" + badgeName
	div(class="badge")
	p= "Include evidence for your application and your email address below:"
	form(action="/bsubmit", method='post', enctype='multipart/form-data')
		input(type="hidden", name="slug", value='"+ slug +"')
		h3= "Evidence:"
		br
		textarea(rows='5', cols='50', name='evidence', required)
		h3= "Email"
		br
		input(type='email', name='email', required)
		h3="Image:"
		br
		input(type='file', accept='image/*', name='pic', required)
		br
		h3="Image description:"
		br
		textarea(rows='5', cols='50', name='desc', required)
		br
		h3="Link:"
		br
		input(type='url', name='link', required)
		br
		input(type='submit', value='Apply')