extends ../layout

block content
  h1= 'Edit Note Details'
  form(method="post", action='/notes/#{note._id}')
    input(type="hidden", name="_csrf", value=csrfToken)
    input(type="hidden", name="_method", value= "put")

    span Note Title:
    input(type="text", name="title", placeholder=note.title)
    br

    span Note Body:
    input(type="text", name="body", placeholder=note.body)
    br

    br

    input(type="submit")
